* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;                 
}

/* Área de jogo */
.gameplay {
  width: 80%;
  height: 520px;
  border: 2px solid #ccc;
  margin: 20px auto;     
  position: relative;
  overflow: hidden;
}

/* Fundo */
.fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity 0.6s ease;
  animation: parallax 6s linear infinite;
}

@keyframes parallax {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50px); }
}


/* Sonic */
.sonic {
  bottom: 110px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

/* Pulo */
.jump {
  animation: 1s sonic_animation ease-out;
}

@keyframes sonic_animation {
  0% { bottom: 110px;}
  25% { bottom: 250px;}
  75% { bottom: 250px;}
  100% { bottom: 110px;}
}


/* Eggman */
.eggman {
  width: 250px;
  position: absolute;
  bottom: 110px;
  right: 0;
  animation: eggman_animation 4s infinite linear; 
  z-index: 1;
}

@keyframes eggman_animation {
  0% { right: -250px; }
  100% { right: 100%; }
}

@keyframes shake-animation {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-10px, 0); }
  40% { transform: translate(10px, 0); }
  60% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  100% { transform: translate(0, 0); }
}

/* Score */
#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 28px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #000;
  z-index: 3;
}

/* Game Over */
#game-over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 4px 4px 6px #000;
  z-index: 4;
  opacity: 0; /* no tutorial É 0 */
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
}